openapi: '3.0.0'
info:
  version: 1.0.0
  title: Train Like a Marketer API
  license:
    name: MIT
servers:
  - url: https://api.trainlikeamarketer.com/v1
paths:
  /training-programs:
    get:
      summary: List all training programs
      operationId: listTrainingPrograms
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of training programs
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrainingPrograms'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a training program
      operationId: createTrainingPrograms
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /training-programs/{programId}:
    get:
      summary: Info for a specific training program
      operationId: showTrainingProgramById
      parameters:
        - name: programId
          in: path
          required: true
          description: The id of the training program to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrainingPrograms'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    TrainingProgram:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        tag:
          type: string
    TrainingPrograms:
      type: array
      items:
        $ref: '#/components/schemas/TrainingProgram'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string